body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  line-height: 1.5;
}

header, footer {
  background-color: #ddd;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

figure {
  margin: 0;
  padding: 10px;
  border: 2px solid #666;
  background-color: #fff;
}

figure img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}


@media screen and (min-width: 772px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  figure {
    border-radius: 50%;
    overflow: hidden;
  }

  figure:last-child {
    grid-column: span 2;
  }
}


@media screen and (min-width: 992px) {
  figure {
    border-radius: 0;
  }

  figure:nth-child(3n) {
    grid-column: span 2;
  }
}


@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    animation: none !important;
    transition: none !important;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #f7e56c;
  }

  header, footer {
    background-color: #222;
    color: #f7e56c;
  }

  figure {
    background-color: #222;
    color: #f7e56c;
    border: 2px solid #000;
  }
}
